<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
</head>
<style>
    #message-box {
        border: solid black
    }

    * {
        margin: 0;
        padding: 0;
    }

    .remove-btn {
        border: solid gray 1px;
        max-width: 50px;
        background-color: rgb(234, 231, 231);
    }
</style>

<body>
    <div id="message-box" style="min-height: 30px; max-width: 500px;"></div>
    <input id="chat-message-input" type="text" size="100" style="margin-top: 30px; max-width: 500px;"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}

    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>

    <script>
        $(document).ready(function () {
            $('#chat-message-input').focus();

            const roomName = JSON.parse($('#room-name').text());


            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/room/'
                + roomName
                + '/'
            );

            chatSocket.onmessage = function (e) {
                const data = JSON.parse(e.data);
                let id = 0
                if (data.type === "new_message") {

                    id++
                    var text = $('<p style="margin-top: 20px" id="' + id + '">' + data.message +
                        '<div style="margin-top:0;" data-myid="' + id + '" class="remove-btn">Delete</div><p>');
                    $("#message-box").append(text)
                } else {
                    $("#" + data.id).remove();
                    $('[data-myid="' + data.id + '"]').remove();
                }


            };


            $(document).on("click", ".remove-btn", function (e) {
                var myid = $(this).data('myid');
                chatSocket.send(JSON.stringify({
                    "type": "delete",
                    'message': myid
                }));
            })


            chatSocket.onclose = function (e) {
                console.error('Chat socket closed unexpectedly');
            };



            $('#chat-message-input').on('keyup', function (e) {
                if (e.keyCode === 13) {
                    $('#chat-message-submit').click();
                }
            });



            $('#chat-message-submit').on('click', function (e) {
                const messageInputDom = $('#chat-message-input');
                const message = messageInputDom.val();
                chatSocket.send(JSON.stringify({
                    "type": "newMessage",
                    'message': message
                }));
                messageInputDom.val('');
                $('#chat-message-input').focus();
            });
        })
    </script>
</body>

</html>